.profile {
width: 200px; 
display: block;
margin-left: auto; 
margin-right: auto;
}

.title {
    font-size:50px; 
    color:blue; 
    letter-spacing:1px; 
    text-align: center;
    font-family:fantasy; 
    margin-top:10px;
}

.content{
    color: red;
}

p{
    color: green; 
}

#special { 
    
    text-align: center;
    color: blue;
    
}

