.profile {
width: 200px; 
display: block;
margin-left: auto; 
margin-right: auto;
}

.title {
    font-size:50px; 
    color:blue; 
    letter-spacing:1px; 
    text-align: center;
    font-family:fantasy; 
    margin-top:10px;
}

.content{
    text-align: center;
}

.box{
    
    width: 100px;
    background: cadetblue;
    margin: 30px;
    padding: 40px;
    border: 5px solid black;
    border-radius: 50px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    color:white;
    box-shadow: 10px 10px 20px 10px black;
}

