body{
    color:darkblue;
    background-color: honeydew;
}

h1{
    color: white;
    background-color: palevioletred;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {/*마우스 올려놨을 때*/
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }